* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

header {
    width: 100vw;
    height: 60px;
    background: linear-gradient(to bottom, rgba(0,255,0,0.2) 0%, rgba(0,255,0,0.4) 100%);
}

header > .center{
    width: 1200px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

section {
    margin: 20px auto;
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
}

article > p{
    font-weight: 100;
}

article > img{
    width: 48px;
}